
<%= form_for(@comment) do |f| %>

   <p>
    <%= f.text_area :text, cols: 20, rows: 5 %>
   </p>

   <p>
    <%= f.hidden_field :user_id %>
   </p>

<p>
    <%= f.hidden_field :instance_id %>
   </p>
   <%= f.submit %>
<% end %>
