<div id="puzzle_title"><h2><%= @puzzle.title %></h2></div>
<div id="puzzle_explanation"><% if @puzzle.description %><%= @puzzle.description %><% else %>Find the best move(s)<% end %></div>
<div><div id="moveResult"></div><div id="puzzle_navigation" style="display:none"><%= link_to "Back", puzzles_path %><%= link_to "Next Puzzle", @puzzle %></div></div>

<script>
     $(document).ready(function() {
    
     chessBoard.startChessBoard({player:"<%= @side %>", size: 400,  fen:"<%= @instance.fen %>", type:"<%= @puzzle.puzzle_type %>", lines:<%= raw(@instance.lines) %> });
        
     if (chessBoard.player === "white")
         $("#colorIndicator").addClass("colorWhite");
     else
         $("#colorIndicator").addClass("colorBlack");
    
     });

     

    var updatePageAfterChessBoardMove = function() {
        if (chessBoard.getPuzzleResult() === "solved") {
            $("#moveResult").text("Puzzle solved").addClass("puzzle_correct");
            $("#puzzle_navigation").show();
            $.ajax('/puzzles/solved',{
                type: "POST",
                data: {"puzzle_id":<%= @puzzle.id %>, "result": 1}
            });
            
            $("#comments_list").show();
            $("#create_comment").show();
            $('form').submit(function(evt) {  
                evt.preventDefault();
                var that = $(this);
                var data = that.serialize();
                var dest = that.attr("action");
                $.ajax(dest, {
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success: function(json) {
                        $("textarea").val("");
                        if (json.text) 
                            $("#comments_list").append('<div class="comment_row"><div class="comment_text">'+json.text+'</div><div class="comment_author">'+json.name+'</div></div>');
                        
                    } 
                }); 
            });
        }
        if (chessBoard.getPuzzleResult() === "failed") {
            $("#moveResult").text("Puzzle failed").addClass("puzzle_wrong");
            $("#puzzle_navigation").show();
            $.ajax('/puzzles/solved',{
                type: "POST",
                data: {"puzzle_id":<%= @puzzle.id %>, "result": 0}
            });
            var holder = $("#chessBoardHolder"); 
            holder.children().remove();
            chessBoard.position = {};
            
            chessBoard.startChessBoard({player:"locked", size: 400,  fen:"<%= @instance.fen %>", type:"history", lines:<%= raw(@instance.solution) %>});
            $(".chessBoardPreviousEnd").removeClass("chessBoardPreviousEnd");
            $(".chessBoardPreviousStart").removeClass("chessBoardPreviousStart");
            $("#gameHistoryDiv").show();
            $("#comments_list").show();
            $("#create_comment").show(); 
            $('form').submit(function(evt) {  
                evt.preventDefault();
                var that = $(this);
                var data = that.serialize();
                var dest = that.attr("action");
                $.ajax(dest, {
                    type: "POST",
                    data: data,
                    dataType: "JSON",
                    success: function(json) {
                        $("form input").val("");
                        if (json.text)
                            $("#comments_list").append('<div class="comment_row"><div class="comment_text">'+json.text+'</div><div class="comment_author">'+json.name+'</div></div>');
                    } 
                }); 
            });
        }

        
    
    }

</script>

<div id="chessBoardHolder"></div>
<div id="colorIndicator"></div>
<div id="gameHistoryDiv" style="display:none"><button class="btn btn-small previousMove"><i class="icon-chevron-left"></i></button><button class="btn btn-small nextMove"><i class="icon-chevron-right"></i></button></div>

<div id="comments_box">

<div id="comments_list" style="display:none">
  <% @comments.each do |c| %>
  <div class="comment_row"><div class="comment_text"><%= c.text %></div><div class="comment_author"><%= c.user.username %></div></div>
  <% end %>
</div>
<% if user_signed_in? %>
<div id="create_comment" style="display:none">
  <%= render "comments/form" %>
</div>
<% end %>
</div>
